<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group1 App</title>
    <style>
        body {
            background-color: rgb(0, 128, 128);
            color: white;
            text-align: center;
            padding: 50px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Group1 busyqa Assignment</h1>
    <h3>This is my first app built with python and flask framework</h3>
</body>
</html>
